$theme-name: 'logtank';
// Named color palettes
$color-logtank: (
  '50': #eceff1,
  '100': #cfd8dc,
  '200': #b0bec5,
  '300': #90a4ae,
  '400': #78909c,
  '500': #607d8b,
  '600': #546e7a,
  '700': #455a64,
  '800': #37474f,
  '900': #263238,
  'A100': #e6ee9c,
  'A200': #cddc39,
  'A400': #afb42b,
  'A700': #827717
);

$primary-color-palette: $color-logtank;  // set the primary color palette for this theme
$background-color-base: #f9f9f9;
// $checkbox-color-palette: $forest-green; // set the 'forest green' theme for the checkbox only
// $tabs-color-palette: $color-indigo; // set the 'indigo' theme for the tabs only